<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zrgj.order_everyday.mapper.AccountMapper">

    <select id="getAccountByUsername" parameterType="java.lang.String"
            resultType="zrgj.order_everyday.entity.Account">
        select * from account where username=#{username}
    </select>

</mapper>