<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zrgj.order_everyday.mapper.DishMapper">
    <resultMap id="getDishListResult" type="zrgj.order_everyday.entity.Dish">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="imageUrl" column="image_url" />
        <result property="category" column="category" />
        <result property="restaurantId" column="restaurant_id" />
        <result property="flavour" column="flavour" typeHandler="zrgj.order_everyday.handler.JacksonTypeHandler" />
    </resultMap>

    <insert id="addNewDish" parameterType="zrgj.order_everyday.entity.Dish">
        insert into dish (name, price, image_url, category, restaurant_id, flavour)
        values (#{name}, #{price}, #{imageUrl}, #{category}, #{restaurantId}, #{flavour, typeHandler=zrgj.order_everyday.handler.JacksonTypeHandler})
    </insert>

    <update id="deleteDish" parameterType="java.lang.String">
        update dish
        set deleted= true
        where id = #{id}
    </update>

    <update id="updateDish" parameterType="zrgj.order_everyday.entity.Dish">
        update dish
        set name=#{name},
            price=#{price},
            image_url=#{imageUrl},
            category=#{category},
            flavour=#{flavour, typeHandler=zrgj.order_everyday.handler.JacksonTypeHandler}
        where id = #{id}
    </update>

    <select id="getDishList" parameterType="java.lang.Integer" resultMap="getDishListResult">
        select id, name, price, image_url, category, restaurant_id, flavour, deleted
        from dish
        where restaurant_id = #{restaurantId}
    </select>

    <select id="getDishByName" resultType="zrgj.order_everyday.entity.Dish" resultMap="getDishListResult">
        select *
        from dish
        where deleted = false
          and name = #{name}
          and restaurant_id = #{restaurantId}
    </select>

    <select id="getDishById" parameterType="java.lang.Integer" resultMap="getDishListResult">
        select *
        from dish
          where id = #{id}
    </select>
</mapper>